body {
  color: #009999;
  font-family: 'Nunito Sans', sans-serif;
  margin: auto;
  background-color: #142850;
}

section#body-container {
  width: 960px;
  margin: auto;
}

h1, h2 {
  color: white;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: orange;
}

.hidden {
  display: none;
}
