body {
  /*color: #009999;*/
  /*color: #142850;*/
  /*color: #b0df00;*/
  /*color: #b0dfd1;*/
  /*color: #b0dffb;*/
  color: #101030;
  font-family: 'Nunito Sans', sans-serif;
  margin: auto;
  /*background-color: #142850;*/
  /*background-color: #146d85;*/
  /*background-color: #436d85;*/
  /*background-color: #3777a0;*/
  background-color: #3a73a9;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

section#body-container {
  width: 300%;
}

h1, h2 {
  color: white;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.outer-boundary {
  width: 33.33333%;
  float: left;
  overflow: hidden;
}

.slide-content {
  width: 960px;
  margin: auto;
}
