nav {
  border-bottom: 1px solid white;
  overflow: auto;
}

div.nav-container {
  width: 960px;
  margin: auto;
}

div.name {
  color: white;
  font-size: 32px;
  font-weight: bold;
  float: left;
  margin: 5px 0px 5px 0px;
  padding: 0px;
}

div.nav-links {
  text-transform: uppercase;
  float: right;
}

p.nav-links {
  float: left;
  margin: 0px 0px 0px 16px;
  font-weight: bold;
  padding: 12px 0px 0px 0px;
}

.indicator-blank {
  border-top: 4px solid #142850;
}

.indicator {
  border-top: 4px solid white;
}

p.pointer:hover {
  color: orange;
}
