div.hidden {
  display: none;
}

div.single-project-container {
  margin-bottom: 20px;
  /*border: 1px solid #009999;*/
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0px;
  overflow: auto;
}

span.project-name {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

span.project-techs {
  font-size: 20px;
}

div.project-description {
  float: left;
}

div.github-container a {
  padding-top: 2px;
  color: white;
  float: right;
  clear: right;
  font-size: 110%;
}

div.github-container a:hover {
  color: orange;
}

div.project-data {
  border-top: 1px solid white;
  padding: 10px 0px;
  float: left;
  overflow: auto;
  /*border-bottom: 1px solid white;*/
  /*line-height: 2em;*/
  font-size: 110%;
}

div.project-header {
  padding-bottom: 10px;
  overflow: auto;
}

